#mapList {
  position: relative;
  min-height: 300px;
  width: 100%;
  padding: 0;
  list-style: none;
}

#mapListPrev {
  display: none;
  position: absolute;
  top: 0;right: 0;left: 0;bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #00000066;
}

#mapListPrev button {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  margin: 15px 15px;
  letter-spacing: 0;
  padding: 5px 5px 0 5px;
  background-image: url("../resources/backgrounds/blackBG.jpg");
  background-size: cover;
  color: #e5e5e5;
  border: 1px solid #e5e5e5;
}
#mapList li{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #412726;
  /* margin-bottom: 15px; */
  font-weight: 600;
}
#mapList li:hover {
  color: #412726;
  /* background-color: lightgrey !important; */
}
#mapList li button {
  margin-right: 5px;
  background-color: transparent;
  border: none;
  color: #313131;
  font-weight: 600;
}

.mapSelected {
  /* color: white; */
  background-color: #d49b61cf !important;
}
#game-notice{
  opacity: 0;
  color: white;
  transition: 0.8s opacity;
  padding: 3px;
  margin-left: 5px;
  margin: 15px;
}
#newGamePop legend{padding: 0;}
#Gname{font-size: 1.3em}
#Gmap{margin-top: 25px; border: 1px solid black}
#Gmap #mapList{
  color: #313131;
  margin: 0;
  /* padding: 15px; */
  background-color: #f3ae7485;
  box-sizing: border-box;
}
#Gmap legend{
  width: 100%;
  background-image: url("../resources/backgrounds/mainBG.jpg");
  background-size: cover;
  color: #e5e5e5;
  padding: 7px;
  box-sizing: border-box;
}
