#editMapList {
  position: relative;
  min-height: 300px;
  width: 100%;
  padding: 0;
  list-style: none;
}

#mapListPrev {
  display: none;
  position: absolute;
  top: 0;right: 0;left: 0;bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #00000066;
}

#mapListPrev button {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  margin: 15px 15px;
  letter-spacing: 0;
  padding: 5px 5px 0 5px;
  background-image: url("../resources/backgrounds/blackBG.jpg");
  background-size: cover;
  color: #e5e5e5;
  border: 1px solid #e5e5e5;
}
#editMapList li{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #412726;
  /* margin-bottom: 15px; */
  font-weight: 600;
}
#editMapList li:hover {
  color: #412726;
  /* background-color: lightgrey !important; */
}
#editMapList li button {
  margin-right: 5px;
  background-color: transparent;
  border: none;
  color: #313131;
  font-weight: 600;
}

.mapSelected {
  /* color: white; */
  background-color: #d49b61cf !important;
}

#editParams{
  display: none;
}
.editing #editMapList{
  opacity: 0.4;
  pointer-events: none;
}
#editParams{display: none;}
.editing #editParams{
  display: block;
}
#MEButtonsBar{
  margin: 20px 0 30px 0;
}
