@font-face {
    font-family: titulos;
    src: url(../fonts/big_noodle_titling.ttf);
}
*{
  font-family: Arial, Verdana;
  user-select: none;
}
h1,h2,h3,label,legend,button{
  font-family: titulos;
  font-size: 1.4em;
  letter-spacing: 0.1em;
}

body{
  background-image: url("../resources/backgrounds/mainBG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #181109;
}

.popContainer{
  display: none;
  position: fixed;
  top: 0;right: 0;left: 0;bottom: 0;
  background-color: #00000066;
  opacity: 0;
  transition: 0.8s opacity;
  overflow-y: auto;
}
.popup{
  max-width: 1000px;
  margin: auto;
  position: relative;
  display: block;
  min-height: 100vh;
  background-color: white;
  padding: 25px;
  border: 1px solid black;
  box-sizing: border-box;
  background-image: url("../resources/backgrounds/whiteBG.jpg");
  background-size: cover;
}
.popup .buttonsBar{
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  position: absolute;
  display: flex;
  bottom: 0; left: 0; right: 0;
  background-image: url("../resources/backgrounds/brownBG.jpg");
  background-size: cover;
}
.popup .buttonsBar button{
  box-sizing: border-box;
  margin: 15px 7px;
  background-image: url("../resources/backgrounds/blackBG.jpg");
  background-size: cover;
  color: #e5e5e5;
  border: 1px solid #e5e5e5;
}
.popup .buttonsBar button:first-of-type{
  margin-left: 15px;
}
.popup .buttonsFix{
  height: 60px;
  width: 100%;
}
.popup input{
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  outline-color: transparent;
}
.popup > h1{
  margin: -25px -25px 25px -25px;
  padding: 15px 15px 15px 15px;
  color: white;
  width: 100%;
  width: -webkit-fill-available;
  background-color: black;
  height: 60px;
  box-sizing: border-box;
  background-image: url("../resources/backgrounds/brownBG.jpg");
  background-size: cover;
}
.popShow{
  display: block;
  z-index: 101;
  opacity: 1;
}
#MainMenu{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 800px;
  margin: auto;
}
#MainMenu > *{
  display: block;
  text-align: center;
  width: 100%;
  margin: auto;
}
#MainMenu > img {
  max-width: 450px;
}
#MainMenu > h1{
  padding: 25px;
  font-size: 2em;
  color: #e5e5e5;
}
#MainMenu > ul{
  padding: 0;
  margin: 25px;
}
#MainMenu > ul > li{
  list-style: none;
  border: 1px solid lightgrey;
  text-align: left;
  /* padding: 5px; */
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
#MainMenu > ul > li > div > button{
  padding: 1px;
  border: none;
  background-color: transparent;
  font-size: 25px;
}
#MainMenu > button{
  margin: 12.5px;
  width: calc(33.33% - 50px);
  background-image: url("../resources/backgrounds/blackBG.jpg");
  color: #e5e5e5;
  border-color: #e5e5e5;
}
#MainMenu > button:first-of-type {
  margin-left: 25px;
  width: calc(33.33% - 50px);
}
#MainMenu > button:last-of-type {
  margin-right: 25px;
  width: calc(33.33% - 50px);
}

#MainMenu > ul > li {
  border-radius: 5px 0 0 5px;
  background-color: #00000099;
  margin: 7px 0;
  box-sizing: border-box;
}
.gameButtons .icon::before {
  color: white;
  margin: 0 5px;
  font-size: 0.8em;
}
.gameButtons button{
  padding: 7px 0 !important;
}
.gameButtons button .icon{
  pointer-events: none!important;
}
.gameLabel .icon::before {
  color: #eaeaea;
  margin: auto 10px;
  display: block;
}

.gameLabel{
  display: flex;
  align-content: center;
  align-items: center;
  color: #e5e5e5;
  font-weight: bold;
}
.gameLabel button.openGameButton{
  height: 100%;
  background-color: #e0882c !important;
  margin: -1px;
  margin-right: 10px;
  border-radius: 5px 0 0 5px;
  box-sizing: content-box;
}
.gameLabel button.openGameButton:hover{
  box-shadow: inset 1px 1px 1px #ffffff, inset -1px -1px 1px #ffffff;
  /* box-shadow: inset 2px 2px 2px #ffffff44, inset -2px -2px 2px #00000044; */
}
.gameLabel button.openGameButton .icon{
  pointer-events: none;
}
li[data-lang="NoGame"]{
  color: #e5e5e5;
  font-weight: bold;
  padding: 5px;
  border-radius: 0 !important;
}
